<%- include('../partials/header') %>

<% if (decks.length > 0) { %> 
  <table>
      <thead>
          <tr>
              <th>Deck Name</th>
              <th>Author</th>
          </tr>   
      </thead>
      <tbody>
          <% decks.forEach(function(deck) { %> 
          <tr>
              <td><a href="/decks/<%= deck.id %>"><%= deck.deckName %> </a></td>
              <td><%= deck.deckAuthor %> </td>
              <td>
                  <form action="/decks/<%= deck.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
              </td>
          </tr>
          <% }); %> 
      </tbody>
  </table>
  <% } else { %>
      <h5>No Decks Yet</h5> 
      <% } %> 

<%- include('../partials/footer') %>
