<%- include('../partials/header') %> 
<h1>Build a New Deck</h1>
<div>
    <form action="/decks/new" method="POST">
        <input type="text" name="card" placeholder="Search a Card">
        <button type="submit">Search</button>
    </form>
</div>
<div class="search">
    <% if (cardSearch) { %>
        <%= cardSearch.name %>
        <br />
        <img src="<%= cardSearch.image_uris.small %>" alt="<%= cardSearch.name %>">
        <button type="submit" name="AddNewCard">Add to Deck</button>
    <% } else { %>
        <h3>search a card</h3>
    <% } %>
</div>
<div class="cardDeck">
    <form action="/decks/:id" method="POST">
        <input type="text" name="deckName" placeholder="Deck Name" required>
        <input type="text" name="deckAuthor" placeholder="Author" required>
        <input type="submit" value="Add New Deck">
    </form>
</div>






<%- include('../partials/footer') %> 